{
    "presets": ["babel-preset-expo"],
    "env": {
        "development": {
            "plugins": ["@babel/transform-react-jsx-source"]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "config": "./src/config",
                    "common": "./src/common",
                    "utils": "./src/utils",
                    "assets": "./src/assets",
                    "api": "./src/api",
                    "hocs": "./src/hocs"
                }
            }
        ]
    ]
}
